@import 'custom';
@import '~bootstrap';

* {
  color: #111;
}

body {
  position: relative;
  background-image: url('../images/image-mockups.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top 0 right -32%;
}
.navbar {
  background: #eee;
  z-index: 999;
}
.header .navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 0.8rem;
}

.nav-link {
  text-decoration: none;
  transition: all 1s;
}

.btn-request {
  padding: 0.5rem 1.5rem;
  background: rgb(14, 114, 106);
  border-radius: 2rem;
  color: #eee;
}

.welcome-section {
  height: 90vh;
  display: flex;
  align-items: center;
}

.welcome-intro {
  width: 40%;
  margin: auto 0;
}

.web-heading {
  font-size: 3rem;
}

.service-pic {
  width: 5rem;
  height:auto;  
}
