@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import '~bootstrap';
@import 'query_mixin';

$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
$Font-size: 1.8rem;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #111;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  background: $White url('../images/bg-intro-mobile.svg');
  background-position: top 0 left 0;
  background-repeat: no-repeat;
  background-size: 100%;

  @include device(tab) {
    background: $White url('../images/bg-intro-desktop.svg');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top 0 right -50%;
  }
}

.navbar {
  background: #eee;
  z-index: 999;

  @include device(tab) {
    background: #eee;
    z-index: 999;
  }
}

.header .navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-toggler {
  border: none;
  outline: none;
  color: $Dark-Blue;
  z-index: 999;
}

.navbar-close {
  display: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999;
  padding: 0;
  
}

.navbar-close i,
.navbar-toggler i {
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 1.2rem;
  color: $Dark-Blue;
}

.navbar-close i {
  top: -0.8rem;
}

.navbar-collapse {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 95%;
  top: 0;
  left: 0;
  height: auto;
  z-index: 999;
  background-color: $Light-Grayish-Blue;
  margin: 4rem 2.5% 0 2.5%;
  padding: 1rem 0 4rem 0;
  border-radius: 5px;
}

.nav-item {
  font-size: 1.5rem;

  @include device(tab) {
    margin: 0 0.8rem;
    font-size: 1rem;
  }
}

.nav-link {
  text-decoration: none;
  color: $Dark-Blue;
  transition: all 1s;
  border-bottom: 3px solid transparent;
}

.nav-link:hover{
  border-bottom: 3px solid $Lime-Green;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(45, 49, 77, 0.6);
}

.btn-request {
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  color: #eee;
  background-image: linear-gradient(to right, $Lime-Green 0%, $Bright-Cyan 100%);
  transition: all 0.75s;
  font-weight: 700;

  @include device(tab){
    padding: 0.5rem 0.5rem;   
  }
  
  @include device(lap){
    padding: 0.5rem 1.5rem;   
  }
}

.btn-request:hover {
  background-image: linear-gradient(to left, $Lime-Green 0%, $Bright-Cyan 100%);
  color: #eee;
}

.welcome-section {
  width: 100vw;
  min-height: 100vh;

  @include device(note) {
    min-height: auto;
  }

  @include device(lap) {
    position: relative;
    min-height: 100vh;
    padding: 1rem 0;
  }
}

.welcome-intro {
  width: 100vw;
  margin-bottom: 3rem;
  height: 40vh;

  @include device(note) {
    width: 70vw;
  }

  @include device(tab) {
    width: 40vw;
    margin: 5rem 0;
  }

  @include device(lap) {
    margin: 10rem 0;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;

  @include device(tab) {
    font-size: 2.2rem;
  }
}

.web-heading {
  font-size: 1.9rem;
  font-weight: 700;

  @include device(note) {
    font-size: 2.2rem;
  }

  @include device(tab) {
    font-size: 3rem;
  }
}

.welcome-description {
  color: $Dark-Blue;
}

.img-mockup {
  width: 70vw;
  height: auto;

  @include device(tab) {
    width: 55vw;
    height: auto;
    top: -20%;
    right: 0;
  }
}

.services-section {
  background-color: $Very-Light-Gray;
}

.services {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto;

  @include device(note) {
    grid-template-columns: auto auto;
  }

  @include device(lap) {
    grid-template-columns: auto auto auto auto;
  }
}

.service-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.service-pic {
  width: 5rem;
  height: auto;
}

.articles-section {
  background-color: $White;
}

.articles-items {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto;

  @include device(note) {
    grid-template-columns: auto auto;
  }

  @include device(lap) {
    grid-template-columns: auto auto auto auto;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body {
  padding: 1rem;
}

.article-image {
  width: 100%;
  height: 40%;
}

.articles-items .card-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.article-author {
  font-size: 0.8rem;
}

.article-author,
.articles-items .card-text {
  color: $Dark-Blue;
  line-height: 1.5rem;
}

.footer {
  background-color: $Dark-Blue;
}

.list-group-item {
  background-color: $Dark-Blue;
  border: none;
  color: $White;
  transition: color 0.5s;
}

.list-group-item:hover {
  color: $Bright-Cyan;
}

.btn-group .bi {
  color: $White;
  font-size: 1.5rem;
  transition: color 0.5s;
}

.btn-group .bi:hover {
  color: $Bright-Cyan;
}

.service-heading {
  width: 100%;

  @include device(tab) {
    width: 75%;
  }

  @include device(lap) {
    width: 55%;
  }
}
